body{
    background-color: rgb(245, 244, 244);
    min-width: 650px; 
    height: 100%;
    font-family: arial;
    margin: 0%;
}

#navigator{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
    padding-left: 15px; 
}

a:hover{
    text-decoration: underline;
}
i{
     padding-left: 20px;
 }
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

div.form{
    display: block;
    text-align: center;
}

input[type=search]{
    border-radius: 20px;
    border: 1px solid grey;
    width: 30%;
    padding: 10px
}

input[type=submit]{
    padding: 8px;
    border-radius: 5px;
}

h1{
    font-size: 12px;
    padding: 5px;
    text-align: center;
}
h1 a{
    color: blue;
    text-decoration: none;
    text-align: left;
}

p{
    padding: 15px;
    border-top: thin solid lightgray;
    margin: 0%;
}

#bottom{
    display: flex;
    justify-content: space-between;
    padding:15px 15px 15px 0px;
    border-top: thin solid lightgray;

}

#footer{
    background-color: rgba(228, 228, 228, 0.904);
    position: absolute;
    width: 100%;
    bottom: 0%;
    margin: 0%;
}